<ion-header>
  <ion-toolbar color="cor">
    <ion-title>Negociação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img src="../../assets/neg.gif" alt="">

  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <img class="my" src="https://s2.glbimg.com/QOFdxE1jiVTmI1zQ-lEq3qnhgsA=/0x0:1920x1280/1008x0/smart/filters:strip_icc()/i.s3.glbimg.com/v1/AUTH_59edd422c0c84a879bd37670ae4f538a/internal_photos/bs/2019/4/l/zOdom8QeKTWGUIwqH2uA/ballots-1195056-1920.jpg" alt="">
          </ion-col>
          <ion-col>
            <img src="https://media4.giphy.com/media/Qz4RaxcOh4qndWOG5N/giphy.gif" alt="">
          </ion-col>
        </ion-row>
      </ion-grid>

      <p>Negociação é a competência de dialogar com outras pessoas e encontrar soluções que satisfaçam a todos os envolvidos. Saber negociar significa defender os seus interesses, mas também saber do que você pode abrir mão para que uma venda, um projeto ou qualquer outra ação aconteça.</p>
    </ion-card-content>

    <ion-card-header>
      <ion-card-subtitle>Importância</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>No trabalho, saber negociar é um diferencial para lidar com outras pessoas, já que é preciso conciliar diversas opiniões e interesses.</p>
      <p>Na relação com os colegas e gestores, por exemplo, a habilidade de negociação pode evitar conflitos e fazer com que os projetos saiam do papel.</p>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Voltar na tela Inicial: </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-fab vertical="bottom" horizontal="end" slot="fixed" color="cor">
        <ion-fab-button color="cor">
          <ion-icon name="home-outline" [routerLink]="['/home']"></ion-icon>
        </ion-fab-button>
      </ion-fab>
    </ion-card-content>
  </ion-card>
</ion-content>
