ion-card-title{
    text-align: center;
}
.vdd{
    color: #00ff00;
}
.luk{
    color: #ff0000;
}
.fundo{
    background-color: #ffdbf0;
}
.drax{
    display: none;
}
ion-card-subtitle{
    font-size: 1.2em;
}
p{
    font-size: 15px;
}