<ion-header>
  <ion-toolbar color="cor">
    <ion-title>Inteligência Emocional</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="frase">Inteligência emocional não é segurar as emoções; é usar a razão e sentir a emoção.
      </ion-card-subtitle>
      <br>
      <span class="text-right">_Valeska Viana</span>
    </ion-card-header>
    <ion-card-content>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>O que é?</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Nada mais é que reconhecer e <strong>administrar</strong> suas emoções e a dos outros também, afinal, nos relacionamos com eles.</p>
      <img src="../../assets/ie2.png" alt="">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Importância</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <p>Emoções são formas como reagimos às situações da vida, portanto é natural senti-las nos mais diversos momentos. Porém, quando não são bem gerenciadas, podem levar a atitudes impensadas e prejudicar seus relacionamentos e seu bem-estar.</p>
      <p>Quem tem inteligência emocional tende a tomar <strong>decisões com mais controle</strong>, enfrentar adversidades com mais calma e clareza e ter relacionamentos mais saudáveis.</p>
      <img src="../../assets/ie3.jpg" alt="">
    </ion-card-content>
  </ion-card>

    <ion-button class="sk" expand="block" color="cor" [routerLink]="['/honest']">Honestidade</ion-button>
</ion-content>