<ion-header>
  <ion-toolbar color="cor">
    <ion-title>Adaptação</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Sua importância</ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      A soft skill de adaptação é importante no mercado de trabalho atual porque as mudanças são cada vez mais
      frequentes e aceleradas. Os cenários mudam rapidamente. Por isso, os profissionais devem saber se adaptar e
      aproveitar o melhor das situações que se apresentam.
      <img src="../../assets/ad.gif" alt="" srcset="" class="centro">
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-subtitle class="frase">Não é o mais forte que sobrevive, nem o mais inteligente, mas o que melhor se adapta às mudanças.
      </ion-card-subtitle>
      <br>
      <span class="text-right">_Leon C. Megginson</span>
    </ion-card-header>
  </ion-card>
  <ion-card>
    <ion-card-header>
      <p class="frase">Nem sempre se adaptar é fácil, mas você pode mudar de tópico apertando na imagem!
      </p>
    </ion-card-header>
    <ion-card-content>
      <img [routerLink]="['/negocios']" src="../../assets/neg.jpeg" alt="">
    </ion-card-content>
  </ion-card>
</ion-content>