<!--ion-header [translucent]="true">
    <ion-toolbar>
        <ion-title>
            Previsão do Tempo
        </ion-title>
    </ion-toolbar>
</ion-header-->

<ion-content [fullscreen]="true">
    <ion-header collapse="condense">
        <ion-toolbar>
            <ion-title size="large">Lençóis Paulista, SP</ion-title>
        </ion-toolbar>
        <ion-card>
            <ion-card-content>
                <p class="data">9 de junho, 11:20</p>
                <ion-grid>
                    <ion-row>
                        <ion-col size="8">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="5">
                                        <p class="dia">Dia: 23°</p>
                                    </ion-col>
                                    <ion-col size="7">
                                        <p class="dia">Noite: 16°</p>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
                <ion-grid class="dest">
                    <ion-row>
                        <ion-col size="6">
                            <ion-grid>
                                <ion-row>
                                    <ion-col>
                                        <h1 class="temperatura">20</h1>
                                    </ion-col>
                                    <ion-col>
                                        <h3 class="grau">°C</h3>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>
                </ion-grid>
            </ion-card-content>
        </ion-card>
        <img src="../../assets/sapo.jpg" alt="">
    </ion-header>
</ion-content>